
<%- include('./partials/header.ejs') %>

<body>
    <h2>Pick from hundreds of photos, add some text, and ta-da!</h2>
    <a href="./maker.ejs">Get started!</a>
</body>

<%- include('./partials/footer.ejs') %>