<%- include('./partials/header.ejs') %>

<body>
    <h2>1.) Pick a Photo</h2>
    <%- include('./partials/pic-selector.ejs') %>
    <h2>2.) Add some text</h2>
    <h2>3.)Save your Meme to use anywhere!</h2>
</body>

<%- include('./partials/footer.ejs') %>